<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="production"
		     connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\usersdb.mdf'; Initial Catalog=usersdb;Integrated Security=True"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>